NODE_ENV=development
PORT=3010

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=secret
DB_DATABASE=ykuatia

MI_CLAVESECRETA=cambia-esta-clave-secreta

# Opcional: logs SQL de TypeORM
TYPEORM_LOGGING=false
