# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
pnp/
.pnp/
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Windows desktop.ini files
Desktop.ini

# Visual Studio Code
.vscode/
*.code-workspace

# JetBrains WebStorm
.idea/

# Editor-specific files
*~
*.swp
*.swo
*.bak
*.backup
*.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.kate-swp/
.idea/
.project
.buildpath
.cproject
.settings/
.tmproj
*.esproj
*.orig
